@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:200,400,500);
* {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: inherit;
  display: flex;
  flex-direction: column;
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #5b636b;
}

a {
  color: #50585f;
  text-decoration: none;
}
a:hover {
  color: #383e44;
}

.default_screen {
  display: initial;
}
.retina_screen {
  display: none;
}

nav.main_nav > div > ul {
  padding: 0;
  margin: 0;
  float: left;
}

nav.main_nav > div > ul li {
  list-style: none;
}

nav.main_nav > div > ul > li {
  list-style: none;
  position: relative;
}

nav.main_nav > div > ul > li {
  float: left;
}

nav.main_nav > div > ul > li > a {
  padding: 6px 6px;
  display: block;
}

ul.navbar {
  padding: 0;
  margin: 0;
  float: left;
}

ul.navbar li {
  list-style: none;
}

ul.navbar > li {
  list-style: none;
  position: relative;
}

ul.navbar > li.menu-item {
  float: left;
}

ul.navbar > li.menu-item > a {
  padding: 7px 12px;
  display: block;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 12px;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 0;
  text-align: left;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #f0f0f0;
}

.dropdown-menu {
  list-style: none;
}

.dropdown-submenu > .dropdown-menu {
  left: 100%;
  top: -1px;
}

.nav .dropdown-menu {
  font-size: 12px;
}

.dropdown-submenu > .dropdown-menu {
  left: 100%;
  top: -1px;
}

.dropdown-menu > li {
    padding: 0;
    position: relative;
}

.header_tagline {
  text-align: center;
  color: #696969;
  font-size: 16px;
  line-height: 1.4em;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 640px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.header_nav {
  padding-top: 8px;
  padding-bottom: 10px;
  background-color: #F5F8F7;
  position: relative;
}

.header_nav_wrapper {
  border-bottom: 1px solid #eee;
}

.header_nav.navcontainer {
  width: 880px;
}

.header_nav .text_logo {
  font-size: 18px;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 6px;
  color: #000;
  font-weight: bold;
}

.header_nav .text_logo a {
  color: inherit;
}

.header_nav .text_logo a span.logo_dot {
  background-color: #ff374a;
  font-size: 27px;
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.header_nav .site_branding {
  float: left;
}

.header_nav .main_menu {
  float: right;
  position: relative;
  margin-right: -6px;
  display: inline-block;
}

.site_side_container .top_header_items_holder {
  display: none;
}

.header_nav .main_menu ul {
  list-style: none;
}

ul.navbar > li.menu-item a {
  color: #525252;
  font-size: 12.5px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

ul.navbar > li.menu-item a:hover {
  color: #000;
}

ul.navbar > li.menu-item .dropdown-menu > li > a {
  display: block;
  margin: 0 18px;
  padding: 11px 0;
  clear: both;
  font-weight: normal;
  line-height: 1.528571;
  font-size: 12.5px;
  letter-spacing: 0.4px;
  border-bottom: 1px dashed #e0e0e0;
  text-transform: initial;
}

ul.navbar > li.menu-item .dropdown-menu > li > a:hover {
  color: #000;
}

ul.navbar  li.menu-item.current-menu-item > a, ul.navbar  li.menu-item.current_page_item > a, ul.navbar  li.menu-item.current-menu-ancestor > a, ul.navbar  li.menu-item.current-menu-parent > a {
  color: #000;
}


ul.navbar > li.menu-item .dropdown-menu > li:last-child > a {
  border-bottom: none;
}

.header_nav .main_menu .menu_mark_circle {
  content: " ";
  width: 4px;
  height: 4px;
  margin-left: -2px;
  border-radius: 50%;
  background-color: #ff374a;
  bottom: 0;
  position: absolute;
  display: none;
  -o-transition: background-color  0.20s ease-in;
  -webkit-transition: background-color  0.20s ease-in;
  -moz-transition: background-color  0.20s ease-in;
  transition: background-color  0.20s ease-in;
}

body.hide_menu_circle_idicator .header_nav .main_menu .menu_mark_circle {
  display: none!important;
}

.header_nav .main_menu .menu_mark_circle.mark_circle_hovered {
  background-color: #444;
}

.header_nav .main_menu .menu_mark_circle.mark_circle_loaded, .header_nav .main_menu .menu_mark_circle.loaded_by_hover {
  -o-transition: left  0.20s ease-in, right  0.20s ease-in;
  -webkit-transition: left  0.20s ease-in, right  0.20s ease-in;
  -moz-transition: left  0.20s ease-in, right  0.20s ease-in;
  transition: left  0.20s ease-in, right  0.20s ease-in;
}

.header_nav .main_menu li.menu-item .dropdown-menu {
  width: 190px;
  border-radius: 3px;
}

.header_nav .main_menu li.menu-item.dropdown > .dropdown-menu {
  left: 50%;
  margin-left: -95px;
}

.header_nav .main_menu li.menu-item.dropdown-submenu .dropdown-menu {
  left: 100%;
  margin-left: -4px;
}

.header_nav .main_menu li.menu-item.dropdown > .dropdown-menu:after {
  border: 10px solid transparent;
  border-bottom-color: #fff;
  content: "";
  left: 50%;
  margin-left: -10px;
  position: absolute;
  top: -19px;
  width: 20px;
  height: 20px;
}

.header_nav .main_menu li.menu-item.dropdown > .dropdown-menu:before {
  border: 10px solid transparent;
  border-bottom-color: #e5e5e5;
  content: "";
  left: 50%;
  margin-left: -10px;
  position: absolute;
  top: -20px;
  width: 20px;
  height: 20px;
}

/* first dropdown not centered to prevent going outside the window */
body.no_sitetitle_in_menu .header_nav .main_menu > ul > li.menu-item.dropdown:first-child > .dropdown-menu {
  left: 0;
  margin-left: 0;
}

body.no_sitetitle_in_menu .header_nav .main_menu > ul > li.menu-item.dropdown:first-child > .dropdown-menu:before {
  left: 20px;
}

body.no_sitetitle_in_menu .header_nav .main_menu > ul > li.menu-item.dropdown:first-child > .dropdown-menu:after {
  left: 20px;
}

.header_nav .main_menu li.menu-item.dropdown-submenu .dropdown-menu:after {
  border: 10px solid transparent;
  border-right-color: #fff;
  content: "";
  left: -19px;
  position: absolute;
  top: 12px;
  width: 20px;
  height: 20px;
}

.header_nav .main_menu li.menu-item.dropdown-submenu .dropdown-menu:before {
  border: 10px solid transparent;
  border-right-color: #e5e5e5;
  content: "";
  left: -20px;
  position: absolute;
  top: 12px;
  width: 20px;
  height: 20px;
}

.header_nav .menu-item > .dropdown-menu {
  transform: scale(0.5);
  transform-origin: 10% top;
  transition: 0s max-height 0.15s linear, 0.1s opacity cubic-bezier(0.39, 0.575, 0.565, 1), 0.15s transform cubic-bezier(0.1, 1.26, 0.83, 1);
  display: block;
  height: 0;
  opacity: 0;
  visibility: hidden;
  box-shadow: none;
  box-shadow: -3px 4px 7px -4px rgba(0, 0, 0, 0.12);
}

.header_nav .menu-item:hover > .dropdown-menu {
  display: block;
  height: auto;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition-delay: 0.15s;
  -moz-transition-delay: 0.15s;
  -o-transition-delay: 0.15s;
  transition-delay: 0.15s;
  -webkit-transition-duration: 0s, 0.15s, 0.15s;
  -moz-transition-duration: 0s, 0.15s, 0.15s;
  -o-transition-duration: 0s, 0.15s, 0.15s;
  transition-duration: 0s, 0.15s, 0.15s;
  opacity: 1;
  visibility: visible;
}

.single_breadcrumbs {
  font-size: 15px;
  color: #444;
  margin-top: 0;
}

.single_breadcrumbs a {
  color: #444;
  font-weight: bold;
}

.single_breadcrumbs a:hover {
  color: #222;
}
/* --------
end site_header
------------------------------------------- */

/* --------
start sticky header
------------------------------------------- */
.hidden_sticky_helper,
.sticky_header_nav_wrapper,
body.header_is_stick .header_nav_wrapper {
  display: none;
}

body.header_is_stick .hidden_sticky_helper,
body.header_is_stick .sticky_header_nav_wrapper {
  display: block;
}

body.sticky_header .unsticky_header_nav_wrapper {
  -o-transition: border 0.2s ease-in;
  -webkit-transition: border 0.2s ease-in;
  -moz-transition: border 0.2s ease-in;
  transition: border 0.2s ease-in;
}
body.sticky_header .header_nav_wrapper,
body.sticky_header .sticky_header_nav_wrapper {
  border-bottom: 1px solid #eee;
}

body.header_is_stick .sticky_header_nav_wrapper {
  position: fixed;
  top: 0;
  background-color: #F5F8F7;
  z-index: 9999;
  width: 100%;
}

body.header_is_stick .sticky_header_nav_wrapper .header_nav:after {
  background: #e0e0e0;
}

body.admin-bar.header_is_stick .sticky_header_nav_wrapper {
  top: 32px;
}

body.header_is_stick .sticky_header_nav_wrapper .header_nav {
  background-color: #F5F8F7;
  border-bottom: none;
  padding-top: 8px;
  padding-bottom: 10px;
}

/* --------
end sticky header
------------------------------------------- */


/* --------
start side container
------------------------------------------- */
html.side_container_opened {
  overflow: hidden;
}

.site_side_container {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  width: 341px;
  height: 100%;
  background-color: #fff;
  border-left: 1px solid #e7e7e7;
  box-shadow: -1px 0 35px 7px rgba(0, 0, 0, 0.00);
  right: -341px;
  top: 0;
  -o-transition: transform 0.3s ease-out;
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  z-index: 999999;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}

/* .site_side_container.closed {

} */

body.admin-bar .site_side_container {
  top: 32px;
}

.side_container_opened .site_side_container {
  -moz-transform: translate(-100%);
  -ms-transform: translate(-100%);
  -o-transform: translate(-100%);
  -webkit-transform: translate(-100%);
  transform: translate(-100%);
  box-shadow: -1px 0 35px 7px rgba(0, 0, 0, 0.06);
}

.site_main_container,
#page {
  -o-transition: transform 0.35s ease-out;
  -webkit-transition: transform 0.35s ease-out;
  -moz-transition: transform 0.35s ease-out;
  transition: transform 0.35s ease-out;
}

.side_container_opened .site_main_container {
  -moz-transform: translate(-80px);
  -ms-transform: translate(-80px);
  -o-transform: translate(-80px);
  -webkit-transform: translate(-80px);
  transform: translate(-80px);
  right: 0;
}

.sticky_header_nav_wrapper {
  -o-transition: all 0.35s ease-out, top 0.35s ease-out, border 0.2s ease-in;
  -webkit-transition: all 0.35s ease-out, top 0.35s ease-out, border 0.2s ease-in;
  -moz-transition: all 0.35s ease-out, top 0.35s ease-out, border 0.2s ease-in;
  transition: all 0.35s ease-out, top 0.35s ease-out, border 0.2s ease-in;
}

.footer_static_bar {
  -o-transition: transform 0.35s ease-out, bottom 0.35s ease-out;
  -webkit-transition: transform 0.35s ease-out, bottom 0.35s ease-out;
  -moz-transition: transform 0.35s ease-out, bottom 0.35s ease-out;
  transition: transform 0.35s ease-out, bottom 0.35s ease-out;
}

.side_container_opened .footer_static_bar,
.side_container_opened .sticky_header_nav_wrapper {
  -moz-transform: translate(-80px);
  -ms-transform: translate(-80px);
  -o-transform: translate(-80px);
  -webkit-transform: translate(-80px);
  transform: translate(-80px);
  right: 0;
}

html.modal_open .footer_static_bar {
  bottom: -130px;
}

.sliding_close_helper_overlay {
  display: none;
  position: fixed;
  cursor: pointer;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-left: 0;
  background-color: #f5f8fa;
  opacity: 0.3;
}

body.side_container_opened .sliding_close_helper_overlay {
  display: block;
}

body.side_container_opened {
  overflow: hidden;
}

.site_side_container .info_sidebar {
  padding: 26px 30px;
}

body.admin-bar .site_side_container .info_sidebar  {
  padding-bottom: 58px;
}
/* --------
end side container
------------------------------------------- */


/* --------
start side container
------------------------------------------- */
/* .header_search {
  border-left: 1px solid #eee;
} */
.header_search > form.search {
  position: relative;
  height: 100%;
  margin-left: 0;
}

.header_search > form.search .search_text {
  width: 0;
  border: none;
  height: auto;
  line-height: 25px;
  padding-top: 1px;
  padding-bottom: 0;
  padding-right: 14px;
  padding-left: 11px;
  margin-top: auto;
  margin-bottom: auto;
  -o-transition: all  0.2s ease-in;
  -webkit-transition: all  0.2s ease-in;
  -moz-transition: all  0.2s ease-in;
  transition: all  0.2s ease-in;
}

.header_search > form.search > .search_form_icon {
  position: absolute;
  right: 0;
  line-height: 19px;
  height: 100%;
  border: none;
  width:24px;
  text-align: right;
  cursor: pointer;
  top: 50%;
  margin-top: -8px;
}

.header_search > form.search > .search_form_icon > .search_submit {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  background-color: transparent;
  line-height: 19px;
  height: 100%;
  border: none;
  width:24px;
  text-align: right;
  display: none;
  cursor: pointer;
}


.expanded_search.header_search > form.search > .search_form_icon > .search_submit {
  display: block;
}

.expanded_search.header_search > form.search .search_text {
  width: 164px;
  padding-right: 22px;
}

input[type="text"].search_text {
  background-color: #fff;
}
/* --------
end side container
------------------------------------------- */

/* --------
start header controls
------------------------------------------- */
.header_controls {
  float: right;
  display: inline-block;
}

.header_control_wrapper {
  float: left;
  padding: 5px 0;
  position: relative;
  margin-left: 6px;
  color: #545454;
}

.header_sliding_sidebar_control {
  position: relative;
  margin-left: 20px;
  line-height: 30px;
}

.header_sliding_sidebar_control .header_control_icon {
  font-size: 16px;
}

.header_control_icon {
  font-size: 15px;
  color: #222;
}

.header_control_icon:hover {
  color: #000;
}

.header_control_wrapper a {
  color: #222;
}

.header_control_wrapper a:hover, body.side_container_opened .header_control_wrapper a {
  color: #000;
}

body.no_sitetitle_in_menu .header_nav .site_branding {
  display: none;
}

body.no_sitetitle_in_menu .header_nav {
  text-align: center;
  padding-top: 7px;
  padding-bottom: 0;
}

body.no_sitetitle_in_menu .header_nav .main_menu {
  float: none;
}

body.no_sitetitle_in_menu .header_controls {
  float: none;
  margin-left: 10px;
}

body.header_is_stick.no_sitetitle_in_menu .header_nav .main_menu {
  float: left;
  margin-left: -12px;
}

body.header_is_stick.no_sitetitle_in_menu .header_controls {
  float: right;
}

body.no_sitetitle_in_menu .header_control_wrapper {
  padding: 7px 0;
}

/*body.no_sitetitle_in_menu .menu_mark_circle {
  display: none!important;
}*/

body.header_is_stick.no_sitetitle_in_menu .sticky_header_nav_wrapper .header_nav {
  padding-top: 7px;
  padding-bottom: 0;
}
/* --------
end header controls
------------------------------------------- */

/* --------
start responsive design
------------------------------------------- */

/* -- Apply sidebar post css on large screens only --*/
@media screen and (min-width: 911px) {

  body.sliding_sidebar_inactive .header_sliding_sidebar_control {
    display: none;
  }

  body.sliding_sidebar_inactive .sliding_close_helper_overlay {
    display: none;
  }

  body.sliding_sidebar_inactive .site_side_container {
    display: none;
  }


  .full_width_post_single.sidebar_post_single .author_info_container .author_box_info_header .author_social_icons_list {
    float: none;
  }

  .full_width_post_single.sidebar_post_single .author_info_container.author_single_box .author_box_info_header .author_social_icons_list.social_icons_list .social_icon {
    margin-left: 16px;
    margin-bottom: 8px;
    margin-right: 16px;
  }



  .full_width_page_single.sidebar_post_single .author_info_container.author_single_box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
  }

  .full_width_page_single.sidebar_post_single .author_info_container.author_single_box .author_avatar_col {
    width: initial;
    clear: both;
    float: none;
  }

  .full_width_page_single.sidebar_post_single .author_info_container.author_single_box .author_avatar_col img {
    width: 120px;
    height: 120px;
  }

  .full_width_page_single.sidebar_post_single .author_info_container.author_single_box .author_info_col {
    width: 100%;
  }

  .full_width_page_single.sidebar_post_single .author_info_container.author_single_box .author_display_name {
    float: none;
    margin-top: 4px;
  }

  .sidebar_post_content_col .entry-content .facebook_embed_wrapper {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }

  .sidebar_post_content_col .two_coloumns_list .blog_post_container .post_body.no_post_banner {
    padding: 20px 30px 20px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .sidebar_post_content_col .two_coloumns_list .blog_post_container.format-aside .post_body {
    padding: 20px 30px 20px;
    margin-left: 12px;
    margin-right: 12px;
  }

  body.text_posts_unbordered .sidebar_post_content_col .two_coloumns_list .blog_post_container .post_body.no_post_banner {
    padding: 0;
  }

  body.text_posts_unbordered .sidebar_post_content_col .two_coloumns_list .blog_post_container.format-aside .post_body {
    padding: 0;
  }

  body.text_posts_unbordered .sidebar_post_content_col .two_coloumns_list .blog_post_container .post_body.no_post_banner .entry-title {
    font-size: 18px;
  }

  body.text_posts_unbordered .sidebar_post_content_col .two_coloumns_list .blog_post_container.format-aside .post_body .entry-title {
    font-size: 18px;
  }

  .sidebar_post_content_col .single_post_body .post_title {
    font-size: 28px;
  }

  .sidebar_post_content_col .two_coloumns_list .post_title {
    font-size: 16px;
    margin-top: 10px;
  }

  .sidebar_post_content_col .two_coloumns_list .blog_post_readmore {
    display: none;
  }

  .sidebar_post_content_col .grid_list .social_share_item_wrapper {
    display: none;
  }

  .sidebar_post_content_col .grid_list .social_share_item_wrapper:nth-child(1), .sidebar_post_content_col .grid_list .social_share_item_wrapper:nth-child(2) {
    display: initial;
  }

  .sidebar_post_content_col .grid_list .post_title {
    font-size: 14px;
    line-height: 1.55em;
  }

  .sidebar_post_content_col .grid_list .post_meta_item.meta_item_author {
    font-size: 12px;
    line-height: 12px;
  }

  .sidebar_post_content_col .grid_list .post_meta_item {
    font-size: 10.5px;
    line-height: 13px;
  }

  .sidebar_post_content_col .grid_list.grid_list_2_col .social_share_item_wrapper:nth-child(3), .sidebar_post_content_col .grid_list.grid_list_2_col .social_share_item_wrapper:nth-child(4), .sidebar_post_content_col .grid_list.grid_list_2_col .social_share_item_wrapper:nth-child(5), .sidebar_post_content_col .grid_list.grid_list_2_col .social_share_item_wrapper:nth-child(6), .sidebar_post_content_col .grid_list.grid_list_2_col .social_share_item_wrapper:nth-child(7) {
    display: none;
  }

  .sidebar_post_content_col .blog_post_container.format-aside .blog_post_readmore {
    display: block;
    margin-top: 11px;
  }

  .sidebar_post_content_col .blog_post_container.format-aside .blog_post_readmore a {
    font-size: 14px;
  }

  .sidebar_post_content_col .two_coloumns_list .blog_post_container.format-aside .blog_list_comment_link {
    display: none;
  }

  .sidebar_post_content_col .two_coloumns_list .blog_post_container.format-aside .blog_list_share_container {
    display: none;
  }

  .sidebar_post_content_col .two_coloumns_list .entry-summary {
    font-size: 14.5px;
  }

  .sidebar_post_content_col .two_coloumns_list .post_meta_item.meta_item_author {
    display: none;
  }

  body.single .sidebar_post_content_col .full_width_post_single > .col12 > article.blog_post_container > .post_body .twitter_widget_wrapper {
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .sidebar_post_content_col .twitter_widget_wrapper {
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #e0e0e0;
  }

  .sidebar_post_content_col .two_coloumns_list .thepost_row {
    margin-left: -12px;
    margin-right: -12px;
  }

  .sidebar_post_content_col .two_coloumns_list .post_banner {
    padding-right: 12px;
    padding-left: 12px;
  }

  .sidebar_post_content_col .two_coloumns_list .blog_post_container.format-audio .post_body.has_post_banner, .sidebar_post_content_col .two_coloumns_list .blog_post_container.format-gallery .post_body.has_post_banner, .sidebar_post_content_col .two_coloumns_list .blog_post_container.format-image .post_body.has_post_banner, .sidebar_post_content_col .two_coloumns_list .blog_post_container.format-status .post_body.has_post_banner, .sidebar_post_content_col .two_coloumns_list .blog_post_container.format-video .post_body.has_post_banner, .sidebar_post_content_col .two_coloumns_list .blog_post_container.format-standard .post_body.has_post_banner {
    padding-right: 12px;
    padding-left: 12px;
  }

  .sidebar_post_content_col .two_coloumns_list .blog_post_container .post_body.no_post_banner {
    margin-left: 12px;
    margin-right: 12px;
  }

  .sidebar_post_content_col .entry-content iframe {
    max-width: 100%;
  }

  .sidebar_post_content_col .entry-content .alia_embed_wrapper {
    max-width: 100%;
  }

  .sidebar_post_content_col .post_related {
    margin-top: 30px;
  }

  .sidebar_post_content_col .two_coloumns_list .thepost_row {
    margin-bottom: 40px;
  }

  .sidebar_post_content_col .two_coloumns_list .thepost_row:last-child {
    margin-bottom: 10px;
  }

  .sidebar_post_content_col .read_next_loop_container {
    padding-top: 40px;
  }
}

@media screen and (max-width: 910px) {
  .header_nav.navcontainer {
    width: initial;
    max-width: 880px;
  }

  /* ------------------- */

  .mobile_dropdown_arrow {
    display: inline-block;
    float: right;
    width: 36px;
    text-align: center;
    height: 36px;
    line-height: 36px;
    margin-top: -7px;
    margin-right: -11px;
  }
  .main_menu {
    float: none!important;
  }

  .main_menu .navbar-nav {
    margin: 0;
    display: block;
    float: none;
  }

  ul.navbar {
    float: none;
  }

  ul.navbar > li.menu-item {
    float: none;
  }

  ul.navbar > li.menu-item > a {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  ul.navbar > li.menu-item > .dropdown-menu {
    float: none;
    position: initial;
    border: none;
    margin-left: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #f5f5f5;
  }

  .dropdown-submenu > .dropdown-menu {
    position: initial;
    float: none;
    margin-top: auto;
    border: none;
    background-color: #efefef;

  }

  ul.navbar > li.menu-item .dropdown-menu > li:first-child > a {
    margin-top: -1px;
  }

  .dropdown-menu .current-menu-ancestor, .dropdown-menu .current-menu-ancestor > a {
    background-color: transparent;
    color: #000;
  }

  .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: transparent;
    color: #000;
  }

  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: transparent;
    color: #000;
  }

  .header_nav .main_menu {
    display: none;
  }
  .header_control_wrapper a {
    color: #222;
  }
