.header_square_logo {
	display: none;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}
.header_nav .text_logo {
  font-size: 30px;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 6px;
  color: #000;
  font-weight: bold;
}
.header_nav .text_logo a:hover {
  color: #ff374a;
	transition-duration: 0s
}
.gray_header .site_header {
  position: relative;
  padding-bottom: 0px;
}
.gray_header {
  padding-top: 0px;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}
.post_meta_container {
    margin-bottom: 5px;
}
.post_meta_item.meta_item_date:before {
    height: 4px;
}
.full_width_list .post_title {
    margin-bottom: 0px;
    padding-bottom: 15px;
    position: relative;
}
.post_title {
    font-size: 30px;
}
.full_width_post_single > div > .blog_post_container .post_title {
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 2px;
}
img {
    vertical-align: -2px;
    border: 0;
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}
.post_meta_item.meta_item_category a {
    color: #000;
}
.alia_post_list_widget .post_info_wrapper {
  padding-left: 0px;
}
.alia_post_list_widget .post_info_wrapper .post_meta_item {
  font-size: 11.5px;
  color: #ff374a;
  margin-top: 4px;
}
.ab-drop-cap-text p:first-letter{float:left;font-size:75px;line-height:.7em;margin-top:.15em;margin-right:5px;margin-bottom:5px;font-weight:bold;text-transform:uppercase
}
.entry-content blockquote {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: normal;
    font-size: 16px;
    line-height: 1.55em;
    color: #525252;
    font-family: Helvetica Neue, "Arial";
    margin-left: 0;
    padding-left: 15px;
    padding-right: 0;
    margin-right: 0;
    font-weight: normal;
		border-left:5px solid #FF394D;

}
.alia_post_list_widget .post_thumbnail_wrapper {
	display: none;
}
.archive_header .section_title {
    display: none;
}
.full_width_post_single > div > .blog_post_container .post_title:before {
    bottom: -10.5px;
}
.full_width_post_single > div > .blog_post_container .post_title:after {
    bottom: -8px;
}
.full_width_list .post_title a:before {
    bottom: 5px;
}
.full_width_list .post_title a:after {
    bottom: 7px;
}
.entry-content blockquote cite, .entry-content blockquote pre {
    font-weight: normal;
}

.intro_widgets_container {
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: 0px solid #ededed;
    text-align: center;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
}
.intro_widgets_container .widget_area {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.story_black_overlay {
    visibility: hidden;
}

.entry-content .ab-block-drop-cap .ab-drop-cap-text p:first-letter {
    float: left;
    font-size: 75px;
    line-height: .7em;
    margin-top: .15em;
    margin-right: 25px;
    margin-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
}

ul.navbar > li.menu-item a:hover {
  color: #ff374a;
}

.header_nav .text_logo a:hover {
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 1s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.entry-summary {
    display: none;
}
.grid_list .post_title a:after {
    display: none;
}
.grid_list .post_title a:before {
    display: none;
}

.post_title a {
   display: inline
}
.grid_list .post_meta_container {
    display: none;
}
.home .grid_list .post_banner {
    margin-bottom: 0px;
}
.home .post img
	{
		-moz-box-shadow: 0 0 10px #ccc;
		-webkit-box-shadow: 0 0 10px #ccc;
		box-shadow: 0 0 10px #ccc;
}
.home .post img:hover {
	-moz-box-shadow: 0 0 20px #ccc;
	-webkit-box-shadow: 0 0 20px #ccc;
		box-shadow: 0 0 20px #ccc;
}
.post_banner img {
	position: relative;
	transition: transform 0.3s
}
.post_banner img:hover {
      transform: translate(0px, -5px);
  }
.post_title a:hover {
  color: #ff374a;
	transition: ease-in-out 0.1s;
}
.widget_content {
    margin-bottom: 10px;
}
.grid_list .blog_post_container {
    margin-bottom: 10px;
}
.grid_list .post_title a {
	color: #FFFFFF;
	display:none;
}
