/**
 * Mixins
 */
/**
 * Variables
 */
/**
 * Animations
 */
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 3000;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 3000;
  }
}
/**
 * Base
 */
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue","Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

/**
 * Gallery
 */
.gallery {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: 1s opacity cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: 1s opacity cubic-bezier(0.455, 0.03, 0.515, 0.955);
  background: #E3C205;
  background: radial-gradient(ellipse at center, #fad608 0%, #E3C205 100%);
}
.gallery.fadeOut {
  opacity: 0;
}

.gallery__body {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

/**
 * Poster
 */
.poster {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  display: inline-block;
  vertical-align: middle;
}
.poster:before, .poster:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 8px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}
.poster:after {
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  right: 8px;
  left: auto;
}

.poster__content {
  position: relative;
  width: 500px;
  height: 700px;
  overflow: hidden;
  padding: 0 1em;
  background-color: #E3C205;
  color: black;
  box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.2);
}

.poster__header {
  width: 75%;
  float: left;
  margin-top: 40%;
  overflow: hidden;
}

.poster__header-title {
  margin-bottom: .3em;
  font-size: 30px;
}

.poster__header-subtitle {
  width: 35%;
  float: left;
  font-size: 14px;
  line-height: 1;
}

.poster__header-meta {
  position: relative;
  top: 0.2em;
  width: 65%;
  float: right;
  font-size: 6px;
  line-height: 1.5;
  font-weight: bold;
}
.poster__header-meta li:last-child {
  margin-top: 4px;
}

.poster__body {
  position: relative;
  top: 8px;
  width: 25%;
  float: right;
  margin-top: 40%;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
}
.poster__body li:nth-child(3n) {
  margin-top: 4px;
}

.poster__footer {
  position: absolute;
  top: 45%;
  right: auto;
  bottom: auto;
  left: 73.5%;
  font-size: 3px;
}

.poster__rules {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.poster__rules div {
  position: absolute;
}

.smil .poster__rules div rect {
  stroke-dasharray: 1000;
  -webkit-animation: dash 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate;
          animation: dash 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate;
}

.r-1 {
  top: -50%;
  left: 27.5%;
  z-index: 2;
}

.r-2 {
  bottom: -22%;
  left: 27.5%;
  z-index: 2;
}

.r-3 {
  top: -26%;
  left: -32%;
  z-index: 1;
}

.r-4 {
  bottom: -46%;
  left: -32%;
  z-index: 3;
}